<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.6 2006/03/01 14:44:38 tr001\tr1d2643 Exp $
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package 
         uri = "http://www.xmdl.org/xmdl.ecore" 
         class = "chrome.xmdl.XmdlPackage"
         genModel = "model/xmdl.genmodel" />
      <package 
         uri = "http://www.xmdl.org/xmdldb.ecore" 
         class = "chrome.xmdldb.XmdldbPackage"
         genModel = "model/xmdldb.genmodel" /> 
   </extension>
     <extension
           point="org.eclipse.emf.ecore.factory_override">
        <factory
              class="chrome.xmdl.impl.XmdlFactoryImpl"
              uri="http://www.xmdl.org/xmdl.ecore">
        </factory>
        <factory
              class="chrome.xmdldb.impl.XmdldbFactoryImpl"
              uri="http://www.xmdl.org/xmdldb.ecore">
        </factory>
     </extension>

</plugin>
