<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="org.xmdl.mesken.model.User"/>
        <mapping class="org.xmdl.mesken.model.Role"/>

        <mapping class="?this.project.basePackage?.model.Order"/>
        <mapping class="?this.project.basePackage?.model.OrderElement"/>
        <mapping class="?this.project.basePackage?.model.Product"/>
        <mapping class="?this.project.basePackage?.model.Profile"/>
        <mapping class="?this.project.basePackage?.model.Supplier"/> 
    </session-factory>
</hibernate-configuration>
