<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.jet.tagLibraries">
      <tagLibrary
            deprecated="false"
            id="xmdlClass"
            name="XMDL Class Tag Library"
            standardPrefix="xc">
         <emptyTag
               class="org.xmdl.genext.taglib.xc.AttributeTypeTag"
               deprecated="false"
               name="attributeType">
            <description>
               Output the imported attribute type for the given attribute.
            </description>
            <attribute
                  deprecated="false"
                  name="attribute"
                  type="xpath"
                  use="required">
            </attribute>
            <attribute
                  deprecated="false"
                  name="wrapType"
                  type="boolean"
                  use="optional">
               <description>
                  Wraps the type with its corresponding object type if the given attribute has a primitive type.
               </description>
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.genext.taglib.xc.CapitalizeTag"
               deprecated="false"
               name="cap">
            <attribute
                  deprecated="false"
                  name="element"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.genext.taglib.xc.UncapitalizeTag"
               deprecated="false"
               name="uncap">
            <attribute
                  deprecated="false"
                  name="element"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.genext.taglib.xc.QualifiedNameTag"
               deprecated="false"
               name="qualifiedName">
            <attribute
                  deprecated="false"
                  name="element"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.genext.taglib.xc.QualifiedPathTag"
               deprecated="false"
               name="qualifiedPath">
            <attribute
                  deprecated="false"
                  name="element"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.genext.taglib.xc.AccessorTag"
               deprecated="false"
               name="accessor">
            <description>
               Output the accessor (e.g. isSafe or getSafe) according to the accessor type 
            </description>
            <attribute
                  deprecated="false"
                  name="attribute"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.genext.taglib.xc.MutatorTag"
               deprecated="false"
               name="mutator">
            <description>
               Output the mutator (e.g. setSafe) for the attribute
            </description>
            <attribute
                  deprecated="false"
                  name="attribute"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.genext.taglib.xc.DefaultValueTag"
               deprecated="false"
               name="defaultValue">
            <description>
               Output the default value of the attribute  
            </description>
            <attribute
                  deprecated="false"
                  name="attribute"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.genext.taglib.xc.ImportTag"
               deprecated="false"
               name="import">
            <description>
              This tag replaces the given elements qualified name in the given pattern. If
              the pattern does not contain an $element variable, then pattern is directly
              imported.
            </description>
            <attribute
                  deprecated="false"
                  name="pattern"
                  type="string"
                  use="required">
            </attribute>
            <attribute
                  deprecated="false"
                  name="element"
                  type="xpath"
                  use="optional">
            </attribute>
         </emptyTag>
      </tagLibrary>
      <tagLibrary
            deprecated="false"
            id="testUtils"
            name="Test Utils Tag Library"
            standardPrefix="tu">
         <emptyTag
               class="org.xmdl.genext.taglib.tu.RandomPlainTag"
               deprecated="false"
               name="randomPlain">
            <description>
               Outputs a random value for the given attribute
            </description>
            <attribute
                  deprecated="false"
                  name="attribute"
                  type="xpath"
                  use="required">
            </attribute>
            <attribute
                  deprecated="false"
                  name="trim"
                  type="string"
                  use="optional">
            </attribute>
            <attribute
                  deprecated="false"
                  name="format"
                  type="string"
                  use="optional">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.genext.taglib.tu.RandomWrapTag"
               deprecated="false"
               name="randomWrap">
            <description>
               Outputs a random value for the given attribute wrapped by the object creation expression
            </description>
            <attribute
                  deprecated="false"
                  name="attribute"
                  type="xpath"
                  use="required">
            </attribute>
            <attribute
                  deprecated="false"
                  name="trim"
                  type="string"
                  use="optional">
            </attribute>
         </emptyTag>
      </tagLibrary>
      <tagLibrary
            deprecated="false"
            id="xmdlDB"
            name="XMDL DB Tag Library"
            standardPrefix="xd">
         <emptyTag
               class="org.xmdl.genext.taglib.xd.TableNameTag"
               deprecated="false"
               name="tableName">
            <description>
               Output the name of the table from the DB model corresponding to the given class
            </description>
            <attribute
                  deprecated="false"
                  name="class"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.genext.taglib.xd.ColumnNameTag"
               deprecated="false"
               name="columnName">
            <description>
               Output the name of the column/field from the DB model corresponding to the given attribute
            </description>
            <attribute
                  deprecated="false"
                  name="attribute"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.genext.taglib.xd.ColumnLengthTag"
               deprecated="false"
               name="columnLength">
            <description>
               Output the length of the column/field from the DB model corresponding to the given attribute
            </description>
            <attribute
                  deprecated="false"
                  name="attribute"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
         <iteratingTag
               class="org.xmdl.genext.taglib.xd.IterateTablesTag"
               deprecated="false"
               name="iterateTables">
            <description>
               Iterate tables considering dependencies.
            </description>
            <attribute
                  name="select"
                  type="xpath"
                  use="required">
               <description>
                  An XPath expression that returns either a node set (a collection of elements or attributes) or a number.
               </description>
            </attribute>
            <attribute
                  name="var"
                  type="string"
                  use="required">
               <description>
                  A variable name. During each iteration, the value of the variable is an object from the set of objects selected by the &apos;select&apos; XPath expression.
               </description>
            </attribute>
            <attribute
                  name="delimiter"
                  type="string"
                  use="optional">
               <description>
                  A string that is written to the tag's output between iteration of the tag. The text is not written after the last iteration.
               </description>
            </attribute>
         </iteratingTag>
      </tagLibrary>
   </extension>
   <extension
         point="org.eclipse.jet.xpathFunctions">
      <function
            implementation="org.xmdl.genext.xpath.CallFunction"
            maxArgs="2"
            minArgs="2"
            name="call">
      </function>
      <function
            implementation="org.xmdl.genext.xpath.IsEnumerationFunction"
            maxArgs="1"
            minArgs="1"
            name="isEnumeration">
      </function>
   </extension>

</plugin>
