<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.jet.tagLibraries">
      <tagLibrary
            deprecated="false"
            id="xmdlClass"
            name="XMDL Class Tag Library"
            standardPrefix="xc">
         <emptyTag
               class="org.xmdl.genext.taglib.xc.AttributeTypeTag"
               deprecated="false"
               name="attributeType">
            <description>
               Output the imported attribute type for the given attribute.
            </description>
            <attribute
                  deprecated="false"
                  name="attribute"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.genext.taglib.xc.CapitalizeTag"
               deprecated="false"
               name="cap">
            <attribute
                  deprecated="false"
                  name="element"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.genext.taglib.xc.UncapitalizeTag"
               deprecated="false"
               name="uncap">
            <attribute
                  deprecated="false"
                  name="element"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.genext.taglib.xc.QualifiedNameTag"
               deprecated="false"
               name="qualifiedName">
            <attribute
                  deprecated="false"
                  name="element"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.genext.taglib.xc.AccessorTag"
               deprecated="false"
               name="accessor">
            <description>
               Output the accessor (e.g. isSafe or getSafe) according to the accessor type 
            </description>
            <attribute
                  deprecated="false"
                  name="attribute"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.genext.taglib.xc.MutatorTag"
               deprecated="false"
               name="mutator">
            <description>
               Output the mutator (e.g. setSafe) for the attribute
            </description>
            <attribute
                  deprecated="false"
                  name="attribute"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.genext.taglib.xc.DefaultValueTag"
               deprecated="false"
               name="defaultValue">
            <description>
               Output the default value of the attribute  
            </description>
            <attribute
                  deprecated="false"
                  name="attribute"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.genext.taglib.xc.ImportTag"
               deprecated="false"
               name="import">
            <description>
              This tag replaces the given elements qualified name in the given pattern. If
              the pattern does not contain an $element variable, then pattern is directly
              imported.
            </description>
            <attribute
                  deprecated="false"
                  name="pattern"
                  type="string"
                  use="required">
            </attribute>
            <attribute
                  deprecated="false"
                  name="element"
                  type="xpath"
                  use="optional">
            </attribute>
         </emptyTag>
      </tagLibrary>
      <tagLibrary
            deprecated="false"
            id="testUtils"
            name="Test Utils Tag Library"
            standardPrefix="tu">
         <emptyTag
               class="org.xmdl.genext.taglib.tu.RandomTag"
               deprecated="false"
               name="random">
            <description>
               Outputs a random value for the given attribute
            </description>
            <attribute
                  deprecated="false"
                  name="attribute"
                  type="xpath"
                  use="required">
            </attribute>
            <attribute
                  deprecated="false"
                  name="wrapString"
                  type="boolean"
                  use="optional">
            </attribute>
            <attribute
                  deprecated="false"
                  name="trim"
                  type="string"
                  use="optional">
            </attribute>
         </emptyTag>
      </tagLibrary>
   </extension>

</plugin>
