<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
         id="org.xmdl.ida.platform"
         name="IDA Platform"
         point="org.xmdl.gen.register">
      <platform
         	id="org.xmdl.ida"
            class="org.xmdl.ida.platform.IDAPlatform"
            name="IDA"
            version="0.1.0"/>
   </extension>
   <extension
         id="org.xmdl.ida.taglib"
         name="IDA Tag Libraries"
         point="org.eclipse.jet.tagLibraries">
   
      <tagLibrary
            deprecated="false"
            id="idaUtils"
            name="IDA Tag Library"
            standardPrefix="ida">
         <emptyTag
               class="org.xmdl.ida.taglib.SearchParametersTag"
               deprecated="true"
               name="searchParameters">
            <description>
               Outputs search parameters for the given class.
NOT USED ANYMORE. 
            </description>
            <attribute
                  deprecated="false"
                  name="class"
                  type="xpath"
                  use="required">
            </attribute>
            <attribute
                  deprecated="false"
                  name="omitType"
                  type="boolean"
                  use="optional">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.ida.taglib.AssociationTag"
               deprecated="false"
               name="association">
            <description>
               Outputs association annotations for the given reference attribute 
            </description>
            <attribute
                  deprecated="false"
                  name="attribute"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
      </tagLibrary>
   </extension>

   <extension
         point="org.eclipse.jet.xpathFunctions">
      <function
            implementation="org.xmdl.ida.xpath.IsAssociationFunction"
            maxArgs="1"
            minArgs="1"
            name="isAssociation">
      </function>
   </extension>

</plugin>
