<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
         id="xmdl.ida"
         name="IDA Platform"
         point="org.xmdl.gen.register">
      <platform
            class="org.xmdl.ida.platform.IDAPlatform"
            name="IDA"
            version="0.1.0"/>
   </extension>
   <extension
            point="org.eclipse.jet.tagLibraries">
   
      <tagLibrary
            deprecated="false"
            id="idaUtils"
            name="IDA Tag Library"
            standardPrefix="ida">
         <emptyTag
               class="org.xmdl.ida.taglib.SearchParametersTag"
               deprecated="false"
               name="searchParameters">
            <description>
               Outputs search parameters for the given class 
            </description>
            <attribute
                  deprecated="false"
                  name="class"
                  type="xpath"
                  use="required">
            </attribute>
            <attribute
                  deprecated="false"
                  name="omitType"
                  type="boolean"
                  use="optional">
            </attribute>
         </emptyTag>
         <emptyTag
               class="org.xmdl.ida.taglib.AssociationTag"
               deprecated="false"
               name="association">
            <description>
               Outputs association annotations for the given reference attribute 
            </description>
            <attribute
                  deprecated="false"
                  name="attribute"
                  type="xpath"
                  use="required">
            </attribute>
         </emptyTag>
      </tagLibrary>
   </extension>

</plugin>
