<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">

    <persistence-unit name="ApplicationEntityManager" transaction-type="RESOURCE_LOCAL">
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <class>org.xmdl.mesken.model.User</class>
        <class>org.xmdl.mesken.model.Role</class>
    
        <class>org.xmdl.taslak.model.Order</class>
    
        <class>org.xmdl.taslak.model.Supplier</class>
    
        <class>org.xmdl.taslak.model.Product</class>
    
        <class>org.xmdl.taslak.model.OrderElement</class>
    
        <class>org.xmdl.taslak.model.Profile</class>
    
    </persistence-unit>

</persistence>
