<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

    <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http:///www.xmdl.org/xmdl.gen.ecore" 
       class = "org.xmdl.xmdlgen.provider.XmdlgenItemProviderAdapterFactory"
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>
  


  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.xmdl.xmdlgen.presentation.XmdlgenEditorID"
        name = "%_UI_XmdlgenEditor_label"
        icon = "icons/full/obj16/XmdlgenModelFile.gif"
        extensions = "xmdlgen"
        class = "org.xmdl.xmdlgen.presentation.XmdlgenEditor" 
        contributorClass="org.xmdl.xmdlgen.presentation.XmdlgenActionBarContributor" >
    </editor>
  </extension>    
  
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///www.xmdl.org/xmdl.gen.ecore" 
       class = "org.xmdl.xmdlgen.XmdlgenPackage"
       genModel = "model/xmdlgen.genmodel" /> 
  </extension>
  
</plugin>
